
@media(max-width:425px){
    .menu-mobile-section{
        font-size: 5vw;
    }

}
@media (min-width:768px){
    .menu-mobile-section{
        font-size: 2.5vw;
    }
    
}
@media(max-width:768px){
    .menu-desktop{
        display: none;
    }
    .icono-menu{
        display: inline-block;
        width: 9vw;
        height: 9vw;
        margin-left: 40%;
        margin-bottom: 10vw;
        color: #ff764d;
        font-size: 26px;
        
    }
    .menu-mobile{
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: #0000ff;
        width: 100vw;
        height: 170%;
        color: aliceblue;
        font-family: 'Roboto';
   
        transition: all 700ms;
        position: absolute;
        overflow: hidden;
        top:0;
        left: 0;
        z-index: -1;
        font-size: 3vw;
        padding-top: 10%;
       
        
    }
    .menu-mobile-section{
        height: 100%;
        font-weight: 700;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }
    .hide{
        transform: translateY(-105%);
        transition: 700ms;
        
    }
    .ParagraphBlock{
        width: 86vw;
    }
    .TryForFree{
        color:#ff764d;
    }
    .Block1{
       font-size: 20px;
    }
    .Block2{
       font-size: 20px;
       
    }
    .Video1{
        width: 90vw;
        height: 60vw;
    }
    .GridContainer{
        display: flex;
        flex-direction: column;
    }
    .input-email{
     
        width: 45vw;
        height: 20%;
 
    }
    .button-email{
       
        height: 20%;
        width: 34%;
    }
    .lastbar{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        grid-column: 1/4;
    }
    .settings{
        display: flex;
        flex-direction: column;
        font-size: 15px;
        justify-content: space-between;
        width: 50%;
    }
   
    
}